// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 BayLibre SAS. All rights reserved.
 * Copyright (c) 2020 Christian Hewitt <christianshewitt@gmail.com>
 * Copyright (c) 2021 flippy <uniqfreq@gmail.com>
 */

/dts-v1/;

#include "meson-sm1-ac2xx.dtsi"
#include <dt-bindings/leds/common.h>
#include <dt-bindings/sound/meson-g12a-tohdmitx.h>

/ {
	compatible = "skyworth,lb2004", "amlogic,s905x3", "amlogic,sm1";
	model = "SKYWORTH LB2004-A4091";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0xFFFFFFFF>;
	};

	leds {
		compatible = "gpio-leds";

		/* Mainline u-boot lacks TCA6507 driver. Currently only using bootloader, TCA6507 LEDs works. */
		gpio_led {
			label = "gpio_led";
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
		};
	};

	sound {
		compatible = "amlogic,axg-sound-card";
		model = "LB2004-A4091";
		audio-aux-devs = <&tdmout_b>;
		audio-routing = "TDMOUT_B IN 0", "FRDDR_A OUT 1",
				"TDMOUT_B IN 1", "FRDDR_B OUT 1",
				"TDMOUT_B IN 2", "FRDDR_C OUT 1",
				"TDM_B Playback", "TDMOUT_B OUT";

		assigned-clocks = <&clkc CLKID_MPLL2>,
				  <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>;
		assigned-clock-parents = <0>, <0>, <0>;
		assigned-clock-rates = <294912000>,
				       <270950400>,
				       <393216000>;
		status = "okay";

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

		/* 8ch hdmi interface */
		dai-link-3 {
			sound-dai = <&tdmif_b>;
			dai-format = "i2s";
			dai-tdm-slot-tx-mask-0 = <1 1>;
			dai-tdm-slot-tx-mask-1 = <1 1>;
			dai-tdm-slot-tx-mask-2 = <1 1>;
			dai-tdm-slot-tx-mask-3 = <1 1>;
			mclk-fs = <256>;

			codec {
				sound-dai = <&tohdmitx TOHDMITX_I2S_IN_B>;
			};
		};

		/* hdmi glue */
		dai-link-4 {
			sound-dai = <&tohdmitx TOHDMITX_I2S_OUT>;

			codec {
				sound-dai = <&hdmi_tx>;
			};
		};
	};

	vddgpu: regulator-vddgpu {
		compatible = "regulator-fixed";
		regulator-name = "mali";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		vin-supply = <&ao_5v>;
		regulator-always-on;
	};
};

&i2c3 {
	status = "okay";

	/* Mainline u-boot lacks TCA6507 driver. Currently only using bootloader, TCA6507 LEDs works. */
	tca6507@45 {
		compatible = "ti,tca6507", "leds,tca6507";
		reg = <0x45>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		gpio-controller;
		#gpio-cells = <2>;

		led@red {
			reg = <0x00>;
			linux,default-trigger = "heartbeat";
		};

		led@green {
			reg = <0x01>;
			linux,default-trigger = "heartbeat";
		};

		led@blue {
			reg = <0x02>;
			linux,default-trigger = "none";
		};
	};
};

&vddcpu {
	regulator-min-microvolt = <721000>;
	regulator-max-microvolt = <1022000>;
	pwms = <&pwm_AO_cd 1 1250 0>;
};

&arb {
	status = "okay";
};

&clkc_audio {
	status = "okay";
};

&ethmac {
	status = "okay";

	pinctrl-0 = <&eth_pins>, <&eth_rgmii_pins>;
	pinctrl-names = "default";
	phy-handle = <&external_phy>;

	phy-mode = "rgmii";
	amlogic,tx-delay-ns = <2>;

	snps,aal;
	snps,rxpbl = <0x8>;
	snps,txpbl = <0x8>;

	rx-fifo-depth = <4096>;
	tx-fifo-depth = <4096>;

	nvmem-cells = <&eth_mac>;
	nvmem-cell-names = "eth_mac";
};

&ext_mdio {
	external_phy: ethernet-phy@0 {
		/* 
		 * Realtek RTL8211F (0x001cc916) 
		 * JLSemi JL2101 (0x937c4032)
		 */
		reg = <0>;
		max-speed = <1000>;

		reset-assert-us = <30000>;
		reset-deassert-us = <80000>;
		reset-gpios = <&gpio GPIOZ_15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;

		interrupt-parent = <&gpio_intc>;
		/* MAC_INTR on GPIOZ_14 */
		interrupts = <26 IRQ_TYPE_LEVEL_LOW>;
	};
};

&frddr_a {
	status = "okay";
};

&frddr_b {
	status = "okay";
};

&frddr_c {
	status = "okay";
};

&ir {
	status = "disabled";
};

&tdmif_b {
	status = "okay";
};

&tdmout_b {
	status = "okay";
};

&tohdmitx {
	status = "okay";
};

&uart_A {
	status = "disabled";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth: bluetooth {
		compatible = "realtek,rtl8822cs-bt";
		interrupt-parent = <&gpio_intc>;
		interrupts = <95 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wakeup";
		shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
		vbat-supply = <&vddao_3v3>;
		vddio-supply = <&vddio_ao1v8>;
		status = "disabled";
	};
};

&mali {
	mali-supply=<&vddgpu>;
};

&usb {
	dr_mode = "host";
};

/* SDIO */
&sd_emmc_a {
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-ddr50;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	max-frequency = <208000000>;
};

/* SD card */
&sd_emmc_b {
	status = "disabled";
};

/* eMMC */
&sd_emmc_c {
	mmc-sdr-1_8v;
	max-frequency = <200000000>;
};

&cpu_opp_table {
	opp-2016000000 {
		opp-hz = /bits/ 64 <2016000000>;
		opp-microvolt = <1000000>;
	};
};

&efuse {
	eth_mac: eth_mac@0 {
		reg = <0x0 0x06>;
	};

	bt_mac: bt_mac@6 {
		reg = <0x6 0x06>;
	};

	wifi_mac: wifi_mac@12 {
		reg = <0x0c 0x06>;
	};

	usid: usid@18 {
		reg = <0x12 0x10>;
	};
};
