// SPDX-License-Identifier: (GPL-2.0 OR MIT)

/dts-v1/;
#include <dt-bindings/input/linux-event-codes.h>
#include "rk3399.dtsi"
#include "rk3399-op1-opp.dtsi"

/ {
	model = "AIO-3399B";
	compatible = "aio,aio-3399b", "rockchip,rk3399";

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		drm_logo: drm-logo@00000000 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0 0x0 0x0>;
		};

		ramoops: ramoops@110000 {
			compatible = "ramoops";
			reg = <0x0 0x110000 0x0 0xf0000>;
			record-size = <0x20000>;
			console-size = <0x80000>;
			ftrace-size = <0x00000>;
			pmsg-size = <0x50000>;
		};
	};

	aliases {
		led-boot = &user_led1;
		led-failsafe = &user_led2;
		led-running = &user_led1;
		led-upgrade = &user_led2;
		mmc0 = &sdio0;
		mmc1 = &sdmmc;
		mmc2 = &sdhci;
		spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1750000>;
		poll-interval = <100>;

		recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <0>;
		};
	};

	clkin_gmac: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "clkin_gmac";
		#clock-cells = <0>;
	};

	fan: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		fan-supply = <&vcc12v_dcin>;
		pwms = <&pwm0 0 10000 0>;
		cooling-levels = <0 75 100 150 200 255>;
		//rockchip,temp-trips = <40000 1 45000 2 50000 3 55000 4 60000 5>;
		status = "okay";
	};

	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&power_key>;
		#address-cells = <1>;
		#size-cells = <0>;

		power {
			debounce-interval = <100>;
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
			label = "GPIO Key Power";
			linux,code = <KEY_POWER>;
			wakeup-source;
		};
	};
	
	ir-receiver {
		compatible = "gpio-ir-receiver";
		gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&ir_int>;
		pinctrl-names = "default";
	};

	leds: gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&user_led1_pin>, <&user_led2_pin>;

		user_led1: user-led1 {
			gpios = <&gpio1 RK_PC6 GPIO_ACTIVE_LOW>;
			label = "green:user_led1";
		};

		user_led2: user-led2 {
			gpios = <&gpio1 RK_PC7 GPIO_ACTIVE_LOW>;
			label = "blue:user_led2";
		};
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rk808 1>;
		clock-names = "ext_clock";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_reg_on_h>;
		reset-gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <300>;
	};

	/*
	 * Really, this is supplied by vcc_1v8, and vcc1v8_s3 only
	 * drives the enable pin, but we can't quite model that.
	 */
	vcca0v9_s3: vcca0v9-s3 {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		regulator-name = "vcca0v9_s3";
		vin-supply = <&vcc1v8_s3>;
	};

	/* As above, actually supplied by vcc3v3_sys */
	vcca1v8_s3: vcca1v8-s3 {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-name = "vcca1v8_s3";
		vin-supply = <&vcc1v8_s3>;
	};

	vcc12v_dcin: vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v-dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc3v3_ext: vcc3v3-ext {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc3v3_ext";
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_ext1: vcc3v3-ext1 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio2 RK_PA1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&ext_pon_switch_wifi>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc3v3_ext1";
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_ext2: vcc3v3-ext2 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio4 RK_PD3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&ext_jms561_m2>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc3v3_ext2";
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc3v3_sys";
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "vcc5v0_sys";
		vin-supply = <&vcc12v_dcin>;
	};

	/* switched by pmic_sleep */
	vcc1v8_s3: vcc1v8-s3 {
		compatible = "regulator-fixed";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-name = "vcc1v8_s3";
		vin-supply = <&vcc_1v8>;
	};

	vcc3v3_sd: vcc3v3-sd {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio2 RK_PD4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc0_pwr_h>;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc3v3_sd";
		vin-supply = <&vcc3v3_ext>;
	};

	vcc3v3_jms561: vcc3v3-jms561 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio2 RK_PA0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&jms561_pw>;
		startup-delay-us = <200000>;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc3v3_jms561";
		vin-supply = <&vcc3v3_ext2>;
	};

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 25000 1>;
		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1400000>;
		vin-supply = <&vcc5v0_sys>;

		/* for rockchip boot on */
		rockchip,pwm_id= <2>;
		rockchip,pwm_voltage = <1000000>;

	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_l>;
		wifi_chip_type = "ap6275s";
		WIFI,host_wake_irq = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	rtl8367s {
		compatible = "realtek,rtl8367s";
		cpu_port = <7>;
		mii-bus = <&mdio0>;
		realtek,extif1 = <1 0 12 1 1 1 1 1 4>;	//rtl8367b_extif_init_of
		realtek,extif2 = <1 3 1 1 1 1 1 1 2>;
	};
};

&cpu_thermal {
		trips {
				cpu_cool: cpu_cool {
						temperature = <38000>;
						hysteresis = <2000>;
						type = "active";
				};
				cpu_normal: cpu_normal {
						temperature = <43000>;
						hysteresis = <2000>;
						type = "active";
				};
				cpu_warm: cpu_warm {
						temperature = <46000>;
						hysteresis = <2000>;
						type = "active";
				};
				cpu_hot: cpu_hot {
						temperature = <48000>;
						hysteresis = <2000>;
						type = "active";
				};
				cpu_max: cpu_max {
						temperature = <50000>;
						hysteresis = <2000>;
						type = "active";
				};
		};
		cooling-maps {
				map2 {
						trip = <&cpu_cool>;
						cooling-device = <&fan 0 1>;
				};
				map3 {
						trip = <&cpu_normal>;
						cooling-device = <&fan 1 2>;
				};
				map4 {
						trip = <&cpu_warm>;
						cooling-device = <&fan 2 3>;
				};
				map5 {
						trip = <&cpu_hot>;
						cooling-device = <&fan 3 4>;
				};
				map6 {
						trip = <&cpu_max>;
						cooling-device = <&fan 4 5>;
				};
		};
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_b>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_b>;
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_l>;
};

&emmc_phy {
	status = "okay";
};

&gmac {
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&cru SCLK_MAC>;
	assigned-clock-rates = <125000000>;
	clock_in_out = "output";
	phy-mode = "rgmii";
	phy-supply = <&vcc3v3_s3>;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;
	tx_delay = <0x28>;
	rx_delay = <0x11>;
	status = "okay";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};

	mdio0: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&hdmi {
	ddc-i2c-bus = <&i2c3>;
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_cec>;
	status = "okay";
};

&hdmi_sound {
	status = "okay";
};

// Let hdmi port support 4k@60fps.
&hdmi_in_vopl {
	status = "disabled";
};

&i2c0 {
	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <168>;
	i2c-scl-falling-time-ns = <4>;
	status = "okay";

	rk808: pmic@1b {
		compatible = "rockchip,rk808";
		reg = <0x1b>;
		#clock-cells = <1>;
		clock-output-names = "xin32k", "rk808-clkout2";
		interrupt-parent = <&gpio1>;
		interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l>;
		rockchip,system-power-controller;
		wakeup-source;

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc5v0_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc5v0_sys>;
		vcc10-supply = <&vcc5v0_sys>;
		vcc11-supply = <&vcc5v0_sys>;
		vcc12-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc1v8_pmu>;

		regulators {
			vdd_center: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-name = "vdd_center";
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_l: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-name = "vdd_cpu_l";
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_ddr";

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc1v8_dvp: LDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8_dvp";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc2v8_dvp: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-name = "vcc2v8_dvp";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc1v8_pmu: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8_pmu";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc_sdio: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vcc_sdio";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcca3v0_codec: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vcca3v0_codec";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v5: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-name = "vcc_1v5";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1500000>;
				};
			};

			vcca1v8_codec: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcca1v8_codec";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v0: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-name = "vcc_3v0";

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc3v3_s3: SWITCH_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc3v3_s3";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_s0: SWITCH_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc3v3_s0";

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};

	vdd_cpu_b: regulator@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		fcs,suspend-voltage-selector = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&cpu_b_sleep>;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-name = "vdd_cpu_b";
		regulator-ramp-delay = <1000>;
		vin-supply = <&vcc5v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_gpu: regulator@41 {
		compatible = "silergy,syr828";
		reg = <0x41>;
		fcs,suspend-voltage-selector = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&gpu_sleep>;
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-name = "vdd_gpu";
		regulator-ramp-delay = <1000>;
		vin-supply = <&vcc5v0_sys>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
};

&i2c3 {
	i2c-scl-rising-time-ns = <450>;
	i2c-scl-falling-time-ns = <15>;
	status = "okay";	//hdmi_cec
};

&i2s2 {
	status = "okay";	//hdmi_sound
};

&spi1 {
	status = "okay";	//lcd pannel
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_clk &spi1_tx &spi1_cs0>;
	//cs-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>; /*SPI-CS:PC3 and PA6*/

	st7789v@0 {
		status = "okay";
		compatible = "sitronix,st7789v";
		reg = <0>;
		spi-max-frequency = <12000000>;
		rgb;
		fps = <30>;
		rotate = <90>;
		buswidth = <8>;
		dc-gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;
		led-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;
		debug = <0>; //等级0～7 越高信息越多
	};
};

&io_domains {
	status = "okay";

	bt656-supply = <&vcc1v8_dvp>;
	audio-supply = <&vcca1v8_codec>;
	sdmmc-supply = <&vcc_sdio>;
	gpio1830-supply = <&vcc_3v0>;
};

&pcie_phy {
	assigned-clock-parents = <&cru SCLK_PCIEPHY_REF100M>;
	assigned-clock-rates = <100000000>;
	assigned-clocks = <&cru SCLK_PCIEPHY_REF>;
	status = "okay";
};

&pcie0 {
	ep-gpios = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
	num-lanes = <4>;
	max-link-speed = <2>;
	status = "okay";
	vpcie0v9-supply = <&vcca0v9_s3>;
	vpcie1v8-supply = <&vcca1v8_s3>;
	vpcie3v3-supply = <&vcc3v3_ext>;
};

&pinctrl {
	buttons {
		power_key: power_key {
			rockchip,pins =
				<0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	gmac { //13 16 19 22 26
		rgmii_pins: rgmii-pins {
			rockchip,pins =
				/* mac_txclk */
				<3 RK_PC1 1 &pcfg_pull_none_19ma>,
				/* mac_rxclk */
				<3 RK_PB6 1 &pcfg_pull_none>,
				/* mac_mdio */
				<3 RK_PB5 1 &pcfg_pull_none>,
				/* mac_txen */
				<3 RK_PB4 1 &pcfg_pull_none_26ma>,
				/* mac_clk */
				<3 RK_PB3 1 &pcfg_pull_none>,
				/* mac_rxdv */
				<3 RK_PB1 1 &pcfg_pull_none>,
				/* mac_mdc */
				<3 RK_PB0 1 &pcfg_pull_none>,
				/* mac_rxd1 */
				<3 RK_PA7 1 &pcfg_pull_none>,
				/* mac_rxd0 */
				<3 RK_PA6 1 &pcfg_pull_none>,
				/* mac_txd1 */
				<3 RK_PA5 1 &pcfg_pull_none_26ma>,
				/* mac_txd0 */
				<3 RK_PA4 1 &pcfg_pull_none_26ma>,
				/* mac_rxd3 */
				<3 RK_PA3 1 &pcfg_pull_none>,
				/* mac_rxd2 */
				<3 RK_PA2 1 &pcfg_pull_none>,
				/* mac_txd3 */
				<3 RK_PA1 1 &pcfg_pull_none_26ma>,
				/* mac_txd2 */
				<3 RK_PA0 1 &pcfg_pull_none_26ma>;
		};
	};

	ir {
		ir_int: ir-int {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	power_ext{
		ext_pon_switch_wifi: ext-pon-switch-wifi {
			rockchip,pins = <2 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		ext_jms561_m2: ext-jms561-m2 {
			rockchip,pins = <4 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		jms561_pw: jms561-pw {
			rockchip,pins = <2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	leds {
		user_led1_pin: user-led1-pin {
			rockchip,pins =
				<1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		user_led2_pin: user-led2-pin {
			rockchip,pins =
				<1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcfg_pull_none_16ma: pcfg-pull-none-16ma {
		bias-disable;
		drive-strength = <16>;
	};

	pcfg_pull_none_19ma: pcfg-pull-none-19ma {
		bias-disable;
		drive-strength = <19>;
	};

	pcfg_pull_none_26ma: pcfg-pull-none-26ma {
		bias-disable;
		drive-strength = <26>;
	};

	pcfg_pull_up_15ma: pcfg-pull-up_15ma {
		bias-pull-up;
		drive-strength = <15>;
	};

	pcfg_pull_none_15ma: pcfg-pull-none-15ma {
		bias-disable;
		drive-strength = <15>;
	};

	pcfg_pull_up_16ma: pcfg-pull-up_16ma {
		bias-pull-up;
		drive-strength = <16>;
	};

	pmic {
		cpu_b_sleep: cpu-b-sleep {
			rockchip,pins =
				<1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		gpu_sleep: gpu-sleep {
			rockchip,pins =
				<1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		pmic_int_l: pmic-int-l {
			rockchip,pins =
				<1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdmmc {		//4 6 8 10 12 14 16 18
		sdmmc_bus1: sdmmc-bus1 {
			rockchip,pins =
				<4 RK_PB0 1 &pcfg_pull_up>;
		};

		sdmmc_bus4: sdmmc-bus4 {
			rockchip,pins =
				<4 RK_PB0 1 &pcfg_pull_up_16ma>,
				<4 RK_PB1 1 &pcfg_pull_up_16ma>,
				<4 RK_PB2 1 &pcfg_pull_up_16ma>,
				<4 RK_PB3 1 &pcfg_pull_up_16ma>;
		};

		sdmmc_clk: sdmmc-clk {
			rockchip,pins =
				<4 RK_PB4 1 &pcfg_pull_none_16ma>;
		};

		sdmmc_cmd: sdmmc-cmd {
			rockchip,pins =
				<4 RK_PB5 1 &pcfg_pull_up_16ma>;
		};

		sdmmc_cd: sdmmc-cd {
			rockchip,pins =
				<0 RK_PA7 1 &pcfg_pull_up>;
		};

		sdmmc_wp: sdmmc-wp {
			rockchip,pins =
				<0 RK_PB0 1 &pcfg_pull_up>;
		};
	};

	sdio {
		bt_host_wake_l: bt-host-wake-l {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_reg_on_h: bt-reg-on-h {
			/* external pullup to VCC1V8_PMUPLL */
			rockchip,pins =
				<0 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_l: bt-wake-l {
			rockchip,pins =
				<2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wifi_reg_on_h: wifi-reg_on-h {
			rockchip,pins =
				<0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio0 {			//5;10;15;20
		sdio0_bus1: sdio0-bus1 {
			rockchip,pins =
				<2 RK_PC4 1 &pcfg_pull_up>;
		};

		sdio0_bus4: sdio0-bus4 {
			rockchip,pins =
				<2 RK_PC4 1 &pcfg_pull_up_15ma>,
				<2 RK_PC5 1 &pcfg_pull_up_15ma>,
				<2 RK_PC6 1 &pcfg_pull_up_15ma>,
				<2 RK_PC7 1 &pcfg_pull_up_15ma>;
		};

		sdio0_cmd: sdio0-cmd {
			rockchip,pins =
				<2 RK_PD0 1 &pcfg_pull_up_15ma>;
		};

		sdio0_clk: sdio0-clk {
			rockchip,pins =
				<2 RK_PD1 1 &pcfg_pull_none_15ma>;
		};

		sdio0_cd: sdio0-cd {
			rockchip,pins =
				<2 RK_PD2 1 &pcfg_pull_up>;
		};

		sdio0_pwr: sdio0-pwr {
			rockchip,pins =
				<2 RK_PD3 1 &pcfg_pull_up>;
		};

		sdio0_bkpwr: sdio0-bkpwr {
				rockchip,pins =
					<2 RK_PD4 1 &pcfg_pull_up>;
		};

		sdio0_wp: sdio0-wp {
			rockchip,pins =
				<0 RK_PA3 1 &pcfg_pull_up>;
		};

		sdio0_int: sdio0-int {
			rockchip,pins =
				<0 RK_PA4 1 &pcfg_pull_up>;
		};
	};

	sdio-pwrseq {
		wifi_host_wake_l: wifi-host-wake-l {
			rockchip,pins = 
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdmmc {
		sdmmc0_det_l: sdmmc0-det-l {
			rockchip,pins = 
				<0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		sdmmc0_pwr_h: sdmmc0-pwr-h {
			rockchip,pins = 
				<2 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pmu_io_domains {
	status = "okay";
	pmu1830-supply = <&vcc_3v0>;
};

&pwm0 {
	status = "okay";
};

&pwm2 {
	status = "okay";	//vdd_log
};

&saradc {
	status = "okay";
	vref-supply = <&vcca1v8_s3>;
};

&sdhci {
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	non-removable;
	status = "okay";
};

&sdio0 {
	bus-width = <4>;
	//clock-frequency = <50000000>;
	cap-sdio-irq;
	supports-sdio;
	cap-sd-highspeed;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4 &sdio0_cmd &sdio0_clk>;
	sd-uhs-sdr104;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	brcmf: wifi@1 {
		compatible = "brcm,bcm43752-fmac","brcm,bcm4359-fmac","marvell,sd8897";
		reg = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_l>;
	};
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA7 GPIO_ACTIVE_LOW>;
	disable-wp;
	cap-sdio-irq;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc0_det_l>;
	status = "okay";
	//vmmc-supply = <&vcc3v3_sd>;
	vqmmc-supply = <&vcc3v3_sd>;
};

&tcphy0 {
	status = "okay";
};

&tcphy1 {
	status = "okay";
};

&tsadc {
	/* tshut mode 0:CRU 1:GPIO */
	rockchip,hw-tshut-mode = <1>;
	/* tshut polarity 0:LOW 1:HIGH */
	rockchip,hw-tshut-polarity = <1>;
	status = "okay";
};

&u2phy0 {
	status = "okay";

	u2phy0_otg: otg-port {
		status = "okay";
	};

	u2phy0_host: host-port {
		phy-supply = <&vcc5v0_host>;
		status = "okay";
	};
};

&u2phy1 {
	status = "okay";

	u2phy1_otg: otg-port {
		status = "okay";
	};

	u2phy1_host: host-port {
		phy-supply = <&vcc5v0_host>;
		status = "okay";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer &uart0_rts &uart0_cts>;
	status = "disabled";
};

&uart2 {
	status = "okay";	//ttl
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	snps,parkmode-disable-ss-quirk;
	snps,dis_rxdet_inp3_quirk;
	status = "okay";
	dr_mode = "host";
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	snps,parkmode-disable-ss-quirk;
	snps,dis_rxdet_inp3_quirk;
	status = "okay";
	dr_mode = "host";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "okay";
};

&vopl_mmu {
	status = "okay";
};
