// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2024 Flippy <flippy@sina.com>

/dts-v1/;

#include "rk3568-hlink-h66k.dts"

/ {
	model = "Hlink HT3";
	compatible = "hlink,ht3", "hlink,hnas", "rockchip,rk3568";

	sata_pm_power: sata-pm-power {
		compatible = "regulator-fixed";
		regulator-name = "sata_pm_power";
		regulator-enable-ramp-delay = <1000000>;
		regulator-always-on;
		regulator-boot-on;

		enable-active-high;
		gpio = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&sata_pm_power_en>;
		vin-supply = <&vcc3v3_sys>;
	};

	sata_pm_reset: sata-pm-reset {
		compatible = "regulator-fixed";
		regulator-name = "sata_pm_reset";
		regulator-enable-ramp-delay = <1000000>;
		regulator-always-on;
		regulator-boot-on;

		enable-active-high;
		gpio = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&sata_pm_reset_en>;
		vin-supply = <&vcc3v3_sys>;
	};

	sata_hdd_power: sata-hdd-power {
		compatible = "regulator-fixed";
		regulator-name = "sata_hdd_power";
		regulator-enable-ramp-delay = <1000000>;
		regulator-always-on;
		regulator-boot-on;

		enable-active-high;
		gpio = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&sata_hdd_power_en>;
		vin-supply = <&vcc5v0_sys>;
	};
};

&leds {
	led_hdd1: led-hdd1 {
		pinctrl-names = "default";
		pinctrl-0 = <&led_hdd1_pin>;
		label = "led:hdd1";
		gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
	};

	led_hdd2: led-hdd2 {
		pinctrl-names = "default";
		pinctrl-0 = <&led_hdd2_pin>;
		label = "led:hdd2";
		gpios = <&gpio3 RK_PB5 GPIO_ACTIVE_HIGH>;
	};

	led_hdd3: led-hdd3 {
		pinctrl-names = "default";
		pinctrl-0 = <&led_hdd3_pin>;
		label = "led:hdd3";
		gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
	};

	led_hdd4: led-hdd4 {
		pinctrl-names = "default";
		pinctrl-0 = <&led_hdd4_pin>;
		label = "led:hdd4";
		gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {
	leds {
		led_hdd1_pin: led-hdd1-pin {
			rockchip,pins = <3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_hdd2_pin: led-hdd2-pin {
			rockchip,pins = <3 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_hdd3_pin: led-hdd3-pin {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		led_hdd4_pin: led-hdd4-pin {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sata-pm {
		sata_pm_power_en: sata-pm-power-en {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		sata_pm_reset_en: sata-pm-reset-en {
			rockchip,pins = <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		sata_hdd_power_en: sata-hdd-power-en {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};
