// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (c) 2023 unifreq <https://github.com/unifreq>

/dts-v1/;

#include "rk3568-watermelon-core.dtsi"

/ {
	model = "NLnet Watermelon Pi V3";
	compatible = "nlnet,watermelon-pi-v3", "rockchip,rk3568";

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&sys_led_pin &net_led_pin>;

		sys_led: sys-led {
			gpios = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
			label = "blue:sys";
			linux,default-trigger = "heartbeat";
		};

		net_led: net-led {
			gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_HIGH>;
			label = "blue:net";
		};
	};

	pwm_leds: pwm-leds {
		compatible = "pwm-leds";

		pwm_led: pwm-led {
			label = "blue:pwm";
			pwms = <&pwm5 0 1000000 0>;
			max-brightness = <255>;
		};

		backlight: backlight {
			label = "lcd:backlight";
			pwms = <&pwm14 0 1000000 0>;
			max-brightness = <255>;
			linux,default-trigger = "default-on";
		};
	};

	dc_in: dc-in {
		compatible = "regulator-fixed";
		regulator-name = "dc_in";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc_5v0_mainboard: vcc_5v0-mainboard {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_mainboard";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_in>;
	};

	/*
	 * Default is 3.8v
	 * Connect to battery positive terminal if it is present
	 */
	vcc_3v7_mainboard: vcc-3v7-mainboard {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v7_mainboard";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3700000>;
		regulator-max-microvolt = <3700000>;
		vin-supply = <&dc_in>;
	};

	vcc_3v3_mainboard: vcc-3v3-mainboard {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_mainboard";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_in>;
	};

	vcc_3v3_pi6c: vcc-3v3-pi6c {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_pi6c";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_pwr_en>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_5v0_mainboard>;
	};

	/* gpio: same as vcc_3v3_pi6c */
	vcc_3v3_pcie: vcc-3v3-pcie {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_pcie";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_mainboard>;
	};

	/* gpio: same as vcc_3v3_pi6c */
	vcc_3v7_modem: vcc-3v7-modem {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v7_modem";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3700000>;
		regulator-max-microvolt = <3700000>;
		vin-supply = <&vcc_3v7_mainboard>;
	};

	vcc5v0_usb_otg0: vcc5v0-usb-otg0 {
		compatible = "regulator-fixed";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpio = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_usb_otg0_en>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-name = "vcc5v0_usb_otg0";
		vin-supply = <&vcc_5v0_mainboard>;
	};

	vcc_3v3_sd: vcc-3v3-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_sd";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_mainboard>;
	};

	hdmi-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm7 0 50000 0>;
		cooling-levels = <0 102 170 230>;
		pulses-per-revolution = <2>;
		fan-supply = <&vcc_5v0_mainboard>;
	};
};

&combphy0 {
	status = "okay";
};

&combphy1 {
	status = "okay";
};

&combphy2 {
	status = "okay";
};

&cpu_thermal {
	trips {
		cpu_cool: cpu_cool {
			temperature = <45000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_warm: cpu_warm {
			temperature = <55000>;
			hysteresis = <2000>;
			type = "active";
		};

		cpu_hot: cpu_hot {
			temperature = <65000>;
			hysteresis = <2000>;
			type = "active";
		};
	};

	cooling-maps {
		map1 {
			trip = <&cpu_cool>;
			cooling-device = <&fan0 THERMAL_NO_LIMIT 1>;
		};

		map2 {
			trip = <&cpu_warm>;
			cooling-device = <&fan0 2 THERMAL_NO_LIMIT>;
		};

		map3 {
			trip = <&cpu_hot>;
			cooling-device = <&fan0 3 THERMAL_NO_LIMIT>;
		};
	};
};

&hdmi {
	avdd-0v9-supply = <&vdda0v9_image_p>;
	avdd-1v8-supply = <&vcca1v8_image_p>;
	status = "okay";
};

&hdmi_in {
	hdmi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi>;
	};
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&hdmi_sound {
	status = "okay";
};

&i2s0_8ch {
	status = "okay";
};

&pmu_io_domains {
        /*
         * v1 & v2 uses vcc_1v8
         * v3 uses vcc_3v3
         */
	vccio5-supply = <&vcc_3v3>;
};

&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "output";
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;
	tx_delay = <0x36>;
	rx_delay = <0x2c>;
	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "output";
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim
		     &gmac1m1_tx_bus2
		     &gmac1m1_rx_bus2
		     &gmac1m1_rgmii_clk
		     &gmac1m1_rgmii_bus>;
	snps,reset-gpio = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;
	tx_delay = <0x44>;
	rx_delay = <0x28>;
	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio0 {
	rgmii_phy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		phy-supply = <&vcc_3v3_mainboard>;
		reg = <0x1>;
	};
};

&mdio1 {
	rgmii_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		phy-supply = <&vcc_3v3_mainboard>;
		reg = <0x1>;
	};
};

&pcie2x1 {
	reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_pcie>;
	status = "okay";
};

&pcie30phy {
	data-lanes = <1 2>;
	status = "okay";
};

&pcie3x2 {
	num-lanes = <1>;
	reset-gpios = <&gpio2 RK_PD6 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v7_modem>;
	status = "okay";
};

&pcie3x1 {
	num-lanes = <1>;
	reset-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc_3v3_pcie>;
	status = "okay";
};

&pwm3 {
	compatible = "rockchip,remotectl-pwm";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3_pins>;
	remote_pwm_id = <3>;
	handle_cpu_id = <1>;
	remote_support_psci = <0>;
	interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>,
	     <GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>;
	status = "okay";

	/* China Mobile TV Box */
	ir_key1 {
		rockchip,usercode = <0xdd22>;
		rockchip,key_table =
			<0x6a	KEY_BACK>,
			<0x35	KEY_UP>,
			<0x2d	KEY_DOWN>,
			<0x66	KEY_LEFT>,
			<0x3e	KEY_RIGHT>,
			<0x31	0x161>, //KEY_CENTER
			<0x77	KEY_HOME>,
			<0x7f	KEY_VOLUMEUP>,
			<0x7e	KEY_VOLUMEDOWN>,
			<0x23	KEY_POWER>,
			<0x7d	KEY_MENU>,
			<0x7a	0x192>, //KEY_CHANNELUP
			<0x79	0x193>, //KEY_CHANNELDOWN
			<0x72	0x96>, //KEY_EXPLORER (SETTING)
			<0xf	KEY_SEARCH>, //KEY_SEARCH 'M'
			<0x6d	KEY_1>,
			<0x6c	KEY_2>,
			<0x33	KEY_3>,
			<0x71	KEY_4>,
			<0x70	KEY_5>,
			<0x37	KEY_6>,
			<0x75	KEY_7>,
			<0x74	KEY_8>,
			<0x3b	KEY_9>,
			<0x78	KEY_0>,
			<0x2f	KEY_NUMERIC_STAR>,  /* * key */
			<0x25	KEY_NUMERIC_POUND>; /* # key */
	};
};

&pwm5 {
	pinctrl-0 = <&pwm5_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm7 {
	pinctrl-0 = <&pwm7_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pwm14 {
	pinctrl-0 = <&pwm14m0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pinctrl {
	leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		net_led_pin: net-led-pin {
			rockchip,pins = <3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd_display {
		spi3_sck: spi3-sck {
			rockchip,pins = <4 RK_PC2 2 &pcfg_pull_up_drv_level_1>;
		};

		spi3_mosi: spi3-mosi {
			rockchip,pins = <4 RK_PC3 2 &pcfg_pull_up_drv_level_1>;
		};

		lcd_reset_pin: lcd-reset-pin {
			rockchip,pins = <4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		lcd_dc_pin: display_dc_pin {
			rockchip,pins = <4 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up_drv_level_1>;
		};
	};

        pcie {
		pcie_pwr_en: pcie-pwr-en {
			rockchip,pins = <0 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	modem {
		modem_reset_pins: modem-reset-pins {
			rockchip,pins = <2 RK_PD7 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	usb {
		vcc5v0_usb_otg0_en: vcc5v0_usb_otg0_en {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&sdmmc0 {
	max-frequency = <150000000>;
	bus-width = <4>;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	supports-sd;
	disable-wp;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_sd>;
	vqmmc-supply = <&vccio_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	card-detect-delay = <800>;
	status = "okay";
};

&spi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi3m1_cs0_hs &spi3_sck &spi3_mosi>;
	status = "okay";

	lcd_display: lcd-display@0 {
		compatible = "sitronix,st7735r";
		reg = <0>;
		spi-max-frequency = <50000000>;
		rotate = <0>;
		dc-gpios = <&gpio4 RK_PC5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_dc_pin &lcd_reset_pin>;
		backlight = <&backlight>;
		buswidth = <8>;
		debug = <0x0>;
		status = "disabled";
	};
};

&usb2phy0 {
	status = "okay";
};

&usb2phy0_host {
	phy-supply = <&vcc_5v0_mainboard>;
	pinctrl-0 = <&modem_reset_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usb2phy0_otg {
	vbus-supply = <&vcc5v0_usb_otg0>;
	status = "okay";
};

&usb_host0_xhci {
	dr_mode = "host";
	extcon = <&usb2phy0>;
	status = "okay";
};

&usb_host1_xhci {
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&usb2phy1_host {
	phy-supply = <&vcc_5v0_mainboard>;
	status = "okay";
};

&usb2phy1_otg {
	phy-supply = <&vcc_5v0_mainboard>;
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&vcc_5v0_in {
	vin-supply = <&vcc_5v0_mainboard>;
};
